<div class="row">
	<div class="col-lg-8 mx-auto">
		<h1>Email Sender</h1>
		<%= form_with(url: send_email_path, method: :post) do |form| %>
			<div class="mb-3">
				<%= form.label :to, class: "form-label" %>
				<%= form.email_field :to, class: "form-control", placeholder: "ex. john.doe@mail.com", required: true %>
			</div>
			<div class="mb-3">
				<%= form.label :subject, class: "form-label" %>
				<%= form.text_field :subject, class: "form-control", placeholder: "Enter email subject", required: true %>
			</div>
			<div class='mb-3'>
				<%= form.label :content, class: "form-label" %>
				<%= form.text_area :content, rows: 4, class: "form-control", placeholder: "Enter your message here!", required: true %>
			</div>
			<div>
				<%= form.submit "Send Email", class: "btn btn-primary" %>
			</div>
		<% end %>
	</div>
</div>